@font-face {
  font-family: "kakao1";
  src: url("../fonts/kakao1.woff2") format("truetype");
}
@font-face {
  font-family: "kakao2";
  src: url("../fonts/kakao2.woff2") format("truetype");
}
@font-face {
  font-family: "kakao3";
  src: url("../fonts/kakao3.woff2") format("truetype");
}
@font-face {
  font-family: "kakao4";
  src: url("../fonts/kakao4.woff2") format("truetype");
}
@font-face {
  font-family: "kakao5";
  src: url("../fonts/kakao5.woff2") format("truetype");
}

/* reset */
* {
  box-sizing: border-box;
}

body {
  word-break: keep-all;
  word-wrap: break-word;
  font-family: "kakao5", sans-serif;
  font-size: 16px;
  font-stretch: ultra-condensed;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button {
  border: 0;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}

br {
  display: none;
}

/* util */

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 메인 헤더 */

.doc-header {
  height: 72px;
}

.gnb {
  width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.doc-header-title {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.gnb-menu {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  letter-spacing: -1px;
}

.gnb-menu li {
  padding: 0 28px;
}

.gnb-menu:hover li {
  color: grey;
}

.gnb-menu li:hover {
  color: black;
}

a.gnb-menu-item {
  color: inherit;
}

.gnb-util {
  display: flex;
  width: 140px;
  height: 72px;
  justify-content: space-between;
  align-items: center;
}

.button-icon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.button-icon:hover {
  background-color: rgb(240, 240, 240);
}

.gnb-svg {
  stroke: black;
  stroke-width: 1.5px;
  fill: none;
}

/* 메인 */

.doc-main {
  width: 1332px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

/* 달력 헤더 */

.main-header {
  width: 1296px;
  margin: 0 auto;
}

.main-title {
  font-size: 46px;
  letter-spacing: -2px;
}

.main-title > * {
  display: block;
  margin: 2px 0;
}

.title-emph::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background: url("../images/calendar.gif") no-repeat 0 0;
  background-size: auto 70px;
  vertical-align: middle;
}

/* 상단 뉴스 */

.card-news-top {
  display: flex;
  padding-top: 96px;
}

.card-wrap {
  padding: 0 18px;
}

.single-wrap {
  width: 666px;
}

.multi-wrap {
  width: 666px;
}

.card {
  position: relative;
  padding: 25px 24px 0;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
}

.sticky-card {
  position: -webkit-sticky;
  position: sticky;
  top: 109px;
  height: calc(100vh - 143px);
  max-height: 700px;
}

.card-cate {
  display: flex;
}

.cate-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.cate-txt {
  display: inline-block;
  position: relative;
  height: 36px;
  padding: 0 13px;
  font-size: 13px;
  font-family: "kakao2", sans-serif;
  line-height: 36px;
  text-align: center;
  border-radius: 13px;
  background-color: #eee;
}

.cate-txt::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -4px;
  width: 16px;
  height: 16px;
  background: url("../images/cate.svg") no-repeat 0 0;
}

.cate-txt.new::after {
  content: "";
  position: absolute;
  top: 0;
  left: 70px;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  border-radius: 8px;
  background-color: #ff5737;
}

.card-link {
  display: block;
  position: relative;
  margin: 0 -24px;
}

.card-title {
  display: block;
  height: 92px;
  margin-top: 13px;
  padding: 0 24px;
  font-size: 32px;
  font-family: "kakao4", sans-serif;
  line-height: 46px;
}

.card-info {
  display: block;
  position: absolute;
  width: 65%;
  height: 14px;
  overflow: hidden;
  top: 162px;
  left: 0;
  padding-left: 24px;
  margin-top: 24px;
  font-size: 14px;
  color: #666;
}

.img-wrap {
  display: block;
  margin-top: 63px;
}

.card-img {
  display: block;
  width: 100%;
  min-height: 100%;
}

.card-keyword {
  display: inline-block;
  margin-right: 3px;
  font-family: "kakao1", sans-serif;
}

.card-button {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 30px;
  right: 14px;
  justify-content: center;
  align-items: center;
}

.card-svg {
  fill: #bbb;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 297px);
  grid-auto-rows: 192px;
  grid-gap: 36px;
}

.grid-span {
  grid-row: span 2;
}

.mini-title {
  height: 64px;
  margin-top: 13px;
  padding: 0 24px;
  font-size: 22px;
  font-family: "kakao4", sans-serif;
  line-height: 32px;
}

.mini-info {
  height: 13px;
  top: 143px;
  margin-top: 18px;
  font-size: 13px;
}

.mini-wrap {
  position: relative;
}

.stock-info {
  display: flex;
  margin-top: 18px;
}

.stock-price {
  margin-right: 20px;
  font-size: 40px;
  line-height: 59px;
}

.price-change {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: #2879ff;
}

.price-change::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -10px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 7px solid #2879ff;
}

.stock-date {
  display: block;
  position: absolute;
  top: 140px;
  font-size: 13px;
  font-family: "kakao1", sans-serif;
  color: #666;
  white-space: nowrap;
}

.pull-line {
  height: 15px;
}

/* 카카오문화 */

.culture-section {
  height: 540px;
  margin: 36px 18px;
  padding: 54px 66px 0;
  border-radius: 14px;
  text-align: center;
  box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 8%);
}

.culture-title {
  display: block;
  width: 100%;
  font-size: 42px;
  font-family: "kakao4", sans-serif;
}

.culture-link {
  display: inline-block;
  height: 42px;
  margin-top: 36px;
  padding: 9px 20px 0;
  border-radius: 42px;
  font-size: 14px;
  line-height: 20px;
  font-family: "kakao2", sans-serif;
  color: white;
  background-color: black;
  vertical-align: top;
}

.culture-link:visited {
  color: white;
}

.culture-arrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 5px 0 0 6px;
  vertical-align: top;
}

.culture-img {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 50px auto 0;
}

.short-img {
  display: none;
  width: 100%;
  margin: 44px 53px 0;
}

/* 하단 뉴스 */

.card-news-bottom {
  display: flex;
}

.reverse {
  order: 1;
}

.card-message {
  display: inline-block;
  position: relative;
  padding: 8px 20px 8px 25px;
  margin-top: 13px;
  border-radius: 15px;
  background-color: #fee102;
  font-family: 'kakao4', sans-serif;
  line-height: 26px;
}

.card-message::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: -5px;
  background: url('../images/cate_yellow.svg') no-repeat;
}

.cs-list {
  display: flex;
  margin: 12px -24px 0;
  justify-content: center;
  text-align: center;
}

.cs-link {
  height: 42px;
  margin: 0 4px;
  padding: 0 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  font-family: 'kakao2', sans-serif;
  line-height: 42px;
  color: #666;
}

/* media query */

/* Medium */
@media (max-width: 1439px) {
  .gnb, .main-header {
    width: 952px;
  }

  .doc-main {
    width: 982px;
  }

  .single-wrap {
    width: 655px;
    padding: 0 15px;
  }
  
  .multi-wrap {
    width: 327px;
  }

  .card-link {
    height: calc(100% - 47px);
  }

  .sticky-card .img-wrap {
    height: calc(100% - 156px);
  }

  .culture-section {
    margin: 30px 15px 36px;
  }
}

/* Small */
@media (max-width: 1024px) {
  br {
    display: block;
  }

  .gnb, .main-header {
    width: 630px;
  }

  .doc-main {
    width: 660px;
  }

  .card-news-top {
    flex-wrap: wrap;
  }

  .card-news-bottom {
    flex-wrap: wrap-reverse;
  }

  .card-wrap {
    padding: 0 15px;
  }

  .single-wrap {
    width: 660px;
  }
  
  .multi-wrap {
    width: 660px;
  }

  .card-grid {
    margin-top: 36px;
  }

  .culture-section {
    height: auto;
    margin-top: 36px;
    padding: 48px 52px 38px;
  }

  .culture-title {
    font-size: 36px;
    line-height: 52px;
  }

  .culture-link {
    margin-top: 24px;
  }

  .long-img {
    display: none;
  }

  .short-img {
    display: block;
    max-width: 420px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .gnb, .main-header {
    width: 364px;
  }

  .doc-main {
    width: 394px;
  }
}
  